body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    background-color: rgba(155, 72, 22, 0.04);
}

h2, h3 {
    margin-top: 1em;
}

.jumbotron {
    background: #006083;
    color:floralwhite;
}

#headline {
    margin:0px auto;
    padding-left: 20px;
    font-style: italic;
}

.project-tile {
    background-color: rgba(155, 72, 22, 0.1);
}

.project-tile p {
    margin: 0;
}

.project-tile:hover {
    background-color: rgba(155, 72, 22, 0.2);
}

#project a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

#project a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

footer {
    background: #006083;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:floralwhite;
    margin-top: 4em;
}

footer a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

footer a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.contact-tile {
    border: 2px black;
}
