body {
    background-color: rgba(155, 72, 22, 0.04);
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #006083;
    color:floralwhite;
}

#headline {
    margin:0px auto;
    padding-left: 20px;
    font-style: italic;
}

footer {
    background: #006083;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:floralwhite;
}

.content-row {
    margin: 10px auto;
    padding: 50px 20px 50px 20px;
    min-height:300px;
}

.content-separator {
    border-bottom: 2px ridge;
}

.project-tile {
    margin:0px auto;
    margin-top:10px;
    padding: 10px 10px 10px 10px;
    padding-left:20px;
    background-color: rgba(155, 72, 22, 0.1);
}

.project-tile:hover {
    background-color: rgba(155, 72, 22, 0.2);
}

.project-tile-no-hover {
    margin:0px auto;
    margin-top:10px;
    padding: 10px 10px 10px 10px;
    padding-left:20px;
    background-color: rgba(155, 72, 22, 0.1);
}

#project a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

#project a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

footer a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

footer a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.contact-tile {
    border: 2px black;
}
